<html>
<head>
<title>UA Selection</title>
<link rel="stylesheet" type="text/css" href="../static/css/styleuniv.css">
</head>
<body>
<div class="reg">
	<h1>Select University Rating</h1>
	</div>
<div class="abc">
	<ul>
		<li><a href="{{ url_for('star5')}}" style="color:red">5 Star Rating</a></li>
		<li><a href="{{ url_for('star4')}}" style="color:red">4 Star Rating</a></li>
		<li><a href="{{ url_for('star3')}}" style="color:red">3 Star Rating</a></li>
		<li><a href="{{ url_for('star2')}}" style="color:red">2 Star Rating</a></li>
	</ul>
</div>
</body>
</html>